{% load i18n %}
{% load adminmedia %}
{% load fb_tags %}

<div id="toolbar">
    <form id="changelist-search" action="." method="get">
        <div><!-- DIV needed for valid HTML -->
        <label for="searchbar"><img src="{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="Search" /></label>
        <input type="text" size="40" name="q" value="{{ q }}" id="searchbar" />
        {% if query.filter_type %}<input type="hidden" name="filter_type" value="{{ query.filter_type }}" />{% endif %}
        {% if query.filter_date %}<input type="hidden" name="filter_date" value="{{ query.filter_date }}" />{% endif %}
        {% if query.o %}<input type="hidden" name="o" value="{{ query.o }}" />{% endif %}
        {% if query.ot %}<input type="hidden" name="ot" value="{{ query.ot }}" />{% endif %}
        {% if query.pop %}<input type="hidden" name="pop" value="{{ query.pop }}" />{% endif %}
        {% if query.type %}<input type="hidden" name="type" value="{{ query.type }}" />{% endif %}
        <input type="submit" value="{% trans "Go" %}" />
        {% if results_var.results_total %}
        {% if query.filter_type or query.filter_date or query.q %}
        <span class="small quiet">{% blocktrans count results_var.results_current as counter %}{{ counter }} Item found{% plural %}{{ counter }} Items found{% endblocktrans %}
        (<strong><a href="{% query_string "" "filter_date,filter_type,q" %}">{% blocktrans count results_var.results_total as counter %}{{ counter }} Item total{% plural %}{{ counter }} Items total{% endblocktrans %}</a></strong>)</span>
        {% endif %}
        {% endif %}
        </div>
    </form>
</div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>