


/*  Filebrowser Table
------------------------------------------------------------------------------------------------------ */

.filebrowser table td {
    font-size: 11px;
}
.filebrowser table a {
    font-size: 11px;
}
.filebrowser thead th.sorted a {
    padding-right: 13px;
}
.filebrowser thead th.filename {
    min-width: 160px;
}
.filebrowser td {
    padding: 9px 10px 6px 10px !important;
}
/*.filebrowser tr.fb_folder {
    background: #e8e8e8;
    background: -moz-linear-gradient(top, #ededed, #e8e8e8);
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e8e8e8));
}
.filebrowser tr.fb_folder td {
    border-top-color: #fff !important;
    background: transparent !important;
}*/
.filebrowser td.fb_thumbnail {
    line-height: 11px;
    padding-bottom: 4px !important;
}



/*  Filebrowser Buttons & Links
------------------------------------------------------------------------------------------------------ */

span.fb_type {
    display: inline-block;
    margin: 0 0;
    padding: 1px 0;
    color: #999;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
span.fb_type.folder {
    color: #666;
    font-weight: bold;
}


/*  Filebrowser Show-Preview-Link & Show-Versions-Link (uses Grappellis a.internal) ......................................... */

.filebrowser a.fb_showpreview, 
.filebrowser a.fb_showversions {
    display: block;
    margin-top: 8px;
    padding-left: 8px;
    line-height: 16px;
    white-space: nowrap;
    background-position: 0 50%;
}
.filebrowser a.fb_showpreview {
    float: left;
}
/*.filebrowser a.fb_showversions {
   float: right;
}*/
.filebrowser a.fb_showpreview {
    padding-left: 16px;
    background: 0 50% no-repeat scroll;
}
a.fb_showpreview:link, a.fb_showpreview:visited {
    background-image: url('../img/icon-fb-preview.png');
}
a.fb_showpreview:hover, a.fb_showpreview:active {
    background-image: url('../img/icon-fb-preview-hover.png');
}


/*  Filebrowser View-Link (contains thumbnail) & Select-Link......................................... */

a.fb_viewlink, 
button.fb_selectlink {
    position: relative;
    float: left;
    top: -4px !important;
    margin-bottom: -5px !important;
}
button.fb_selectlink {
    padding-top: 3px;
    padding-bottom: 4px;
    height: 24px;
    font-size: 11px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    button.fb_selectlink {
        padding-top: 4px;
    }
}


/*  Filebrowser Image Preview ......................................... */

.filebrowser .fb_preview_container {
    display: none;
    position: absolute;
    z-index: 1000;
    margin-top: 25px;
    padding: 5px 5px 1px;
    border: 1px solid #bdbdbd;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    background: #fff;
    box-shadow: 0 10px 50px #333; -moz-box-shadow: 0 10px 50px #333; -webkit-box-shadow: 0 10px 50px #333;
}
/*.filebrowser img.fb_preview {
    max-width: 400px;
    max-height: 400px;
}*/

a.fb_view_image span {
    display: none;
    position: absolute;
    top: 1px;
    right: 0;
    padding: 5px 10px 5px 20px;
    width: auto;
    line-height: 11px;
    font-weight: bold;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
a.fb_view_image:hover span {
    display: block;
    color: #83c3d9;
    background: #fff url('../img/icon-fb-view-image-hover.png') 8px 7px no-repeat scroll;
}



/*  Filebrowser Pulldown Actions
------------------------------------------------------------------------------------------------------ */

.pulldown-versions-container {
    position: relative;
    float: left;
}
.pulldown-versions-handler {
    position: relative;
    display: block;
    top: -4px;
    margin-left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.pulldown-versions-handler:link, .pulldown-versions-handler:visited {
    background: #309bbf url('../img/icon-pulldown-versions.png') 50% 10px no-repeat scroll;
    background: url('../img/icon-pulldown-versions.png') 50% 10px no-repeat scroll, 
                -moz-linear-gradient(top, #33a6cc, #309bbf);
    background: url('../img/icon-pulldown-versions.png') 50% 10px no-repeat scroll, 
                -webkit-gradient(linear, left top, left bottom, from(#33a6cc), to(#309bbf));
}
.pulldown-versions-handler:hover, .pulldown-versions-handler:active {
    background: #666 url('../img/icon-pulldown-versions-hover.png') 50% 10px no-repeat scroll;
    background: url('../img/icon-pulldown-versions-hover.png') 50% 10px no-repeat scroll, 
                -moz-linear-gradient(top, #555, #444);
    background: url('../img/icon-pulldown-versions-hover.png') 50% 10px no-repeat scroll, 
                -webkit-gradient(linear, left top, left bottom, from(#555), to(#444));
}
.open .pulldown-versions-handler {
    background: #666 url('../img/icon-pulldown-versions-active.png') 50% 9px no-repeat scroll;
    background: url('../img/icon-pulldown-versions-active.png') 50% 9px no-repeat scroll, 
                -moz-linear-gradient(top, #555, #444);
    background: url('../img/icon-pulldown-versions-active.png') 50% 9px no-repeat scroll, 
                -webkit-gradient(linear, left top, left bottom, from(#555), to(#444));
}
ul.pulldown-versions {
    display: none;
}
.open ul.pulldown-versions {
    display: block;
    position: absolute;
    z-index: 1000;
    margin: -2px 0 0 2px;
    padding: 0;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    background: #eee;
    background: #309bbf;
    box-shadow: 0 0 50px #333; -moz-box-shadow: 0 0 50px #333; -webkit-box-shadow: 0 0 50px #333;
}
ul.pulldown-versions li {
    border-top: 1px solid #3da8cc;
    border-bottom: 1px solid #2987a6;
}
ul.pulldown-versions li:first-child {
    border-top: 0;
}
ul.pulldown-versions li:last-child {
    border-bottom: 0;
}
ul.pulldown-versions a {
    display: block;
    padding: 5px 30px 5px 10px;
    font-weight: bold;
    white-space: nowrap;
}
ul.pulldown-versions li:first-child a {
    border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}
ul.pulldown-versions li.last a {
    border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
}
ul.pulldown-versions a:link, ul.pulldown-versions a:visited {
    color: #fff;
    background: #309bbf;
}
ul.pulldown-versions a:hover, ul.pulldown-versions a:active {
    color: #fff;
    background: #444;
}