{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n adminmedia fb_tags fb_versions %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}css/filebrowser.css" />
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {{ media }}
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}grp-delete-confirmation filebrowser{% if query.pop %} popup{% endif %}{% endblock %}
{% block content-class %}{% endblock %}

<!-- BREADCRBUMBS -->
{% block breadcrumbs %}{% include "filebrowser/include/breadcrumbs.html" %}{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="g-d-c">
        <div class="grp-module">
            <h2>{% blocktrans with fileobject.filename as escaped_object %}Are you sure you want to delete "{{ escaped_object }}"? All of the following items will be deleted:{% endblocktrans %}</h2>
            <div class="grp-row">
                <ul class="rte">{{ fileobject.filename }}</ul>
            </div>
            {% if filelisting %}
                <div class="grp-row">
                    {% for item in filelisting %}
                        <ul class="rte">{{ item.path_relative_directory }}</ul>
                    {% endfor %}
                </div>
            {% endif %}
            {% if additional_files %}
                <div class="grp-row">
                    <ul class="rte">{% blocktrans with additional_files as escaped_object %}... and {{ escaped_object }} more Files.{% endblocktrans %}</ul>
                </div>
            {% endif %}
        </div>
        <footer class="grp-module grp-submit-row grp-fixed-footer">
            <header style="display:none"><h1>Submit Options</h1></header>
            <ul {% if is_popup %}style="overflow: auto;"{% endif %}>
                <li class="grp-float-left"><a href="{% url filebrowser:fb_detail %}{% query_string %}" class="grp-button grp-cancel-link">{% trans "Cancel" %}</a></li>
                <li><a href="{% url filebrowser:fb_delete %}{% query_string %}" class="grp-button">{% trans "Yes, I'm sure" %}</a></li>
            </ul>
        </footer>
    </div>
{% endblock %}