{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load admin_static i18n fb_tags fb_versions %}
{% load url from future %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "filebrowser/css/filebrowser.css" %}" />
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {{ media }}
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}grp-delete-confirmation grp-filebrowser{% if query.pop %} grp-popup{% endif %}{% endblock %}
{% block content-class %}{% endblock %}

<!-- BREADCRBUMBS -->
{% block breadcrumbs %}{% include "filebrowser/include/breadcrumbs.html" %}{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="g-d-c">
        <div class="grp-group">
            <h2>{% blocktrans with fileobject.filename as escaped_object %}Are you sure you want to delete "{{ escaped_object }}"? All of the following items will be deleted:{% endblocktrans %}</h2>
            <ul class="grp-nested-list">
                <li>{{ fileobject.filename }}</li>
            </ul>
            {% if filelisting %}
                <ul class="grp-nested-list">
                    {% for item in filelisting %}
                        <li>{{ item.path_relative_directory }}</li>
                    {% endfor %}
                <ul>
            {% endif %}
            {% if additional_files %}
                <ul class="grp-nested-list">
                    <li>{% blocktrans with additional_files as escaped_object %}... and {{ escaped_object }} more Files.{% endblocktrans %}</li>
                </ul>
            {% endif %}
        </div>
        <footer class="grp-module grp-submit-row grp-fixed-footer">
            <header style="display:none"><h1>Submit Options</h1></header>
            <ul {% if is_popup %}style="overflow: auto;"{% endif %}>
                <li class="grp-float-left"><a href="{% url 'filebrowser:fb_detail' %}{% query_string %}" class="grp-button grp-cancel-link">{% trans "Cancel" %}</a></li>
                <li><a href="{% url 'filebrowser:fb_delete' %}{% query_string %}" class="grp-button">{% trans "Yes, I'm sure" %}</a></li>
            </ul>
        </footer>
    </div>
{% endblock %}