


/*  Filebrowser Table
------------------------------------------------------------------------------------------------------ */

.filebrowser table td {
    font-size: 10px;
}
.filebrowser table a {
    font-size: 11px;
}
.filebrowser thead th.sorted a {
    padding-right: 13px;
}
.filebrowser thead th.filename {
    min-width: 160px;
}
.filebrowser td {
    padding: 9px 10px 6px 10px !important;
}
/*.filebrowser tr.fb_folder {
    background: #e8e8e8;
    background: -moz-linear-gradient(top, #ededed, #e8e8e8);
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e8e8e8));
}
.filebrowser tr.fb_folder td {
    border-top-color: #fff !important;
    background: transparent !important;
}*/
.filebrowser td.fb_thumbnail {
    line-height: 11px;
    padding-bottom: 0 !important;
}



/*  Filebrowser Buttons & Links
------------------------------------------------------------------------------------------------------ */

span.fb_type {
    display: inline-block;
    margin: 0 0;
    padding: 1px 0;
    color: #999;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
span.fb_type.folder {
    color: #666;
    font-weight: bold;
}


/*  Filebrowser Show-Preview-Link & Show-Versions-Link (uses Grappellis a.internal) ......................................... */

.filebrowser a.fb_showpreview, 
.filebrowser a.fb_showversions {
    display: block;
    margin-top: 8px;
    padding-left: 8px;
    line-height: 16px;
    white-space: nowrap;
    background-position: 0 50%;
}
.filebrowser a.fb_showpreview {
    float: left;
}
/*.filebrowser a.fb_showversions {
   float: right;
}*/
.filebrowser a.fb_showpreview {
    padding-left: 16px;
    background: 0 50% no-repeat scroll;
}
a.fb_showpreview:link, a.fb_showpreview:visited {
    background-image: url('../img/icon-fb-preview.png');
}
a.fb_showpreview:hover, a.fb_showpreview:active {
    background-image: url('../img/icon-fb-preview-hover.png');
}


/*  Filebrowser View-Link (contains thumbnail) & Select-Link......................................... */

a.fb_viewlink, 
button.fb_selectlink {
    position: relative;
    top: -4px !important;
    margin-bottom: -5px !important;
}
button.fb_selectlink {
    padding-top: 3px;
    padding-bottom: 4px;
    height: 24px;
    font-size: 11px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    button.fb_selectlink {
        padding-top: 4px;
    }
}


/*  Filebrowser Image Preview ......................................... */

.filebrowser .fb_preview_container {
    display: none;
    position: absolute;
    z-index: 1000;
    margin-top: 25px;
    padding: 5px 5px 1px;
    border: 1px solid #bdbdbd;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    background: #fff;
    box-shadow: 0 10px 50px #333; -moz-box-shadow: 0 10px 50px #333; -webkit-box-shadow: 0 10px 50px #333;
}
/*.filebrowser img.fb_preview {
    max-width: 400px;
    max-height: 400px;
}*/

a.fb_view_image span {
    display: none;
    position: absolute;
    top: 1px;
    right: 0;
    padding: 5px 10px 5px 20px;
    width: auto;
    line-height: 11px;
    font-weight: bold;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
a.fb_view_image:hover span {
    display: block;
    color: #83c3d9;
    background: #fff url('../img/icon-fb-view-image-hover.png') 8px 7px no-repeat scroll;
}



/*  Filebrowser Pulldown Actions
------------------------------------------------------------------------------------------------------ */

.pulldown-actions-container {
    position: relative;
}
.pulldown-actions-handler {
    display: block;
    width: 27px;
    height: 17px;
    background: transparent 50% 50% no-repeat scroll;
}
.pulldown-actions-handler:link, .pulldown-actions-handler:visited {
    background-image: url('../img/icon-pulldown-actions.png');
}
.pulldown-actions-handler:hover, .pulldown-actions-handler:active {
    background-image: url('../img/icon-pulldown-actions-hover.png');
}
.open .pulldown-actions-handler {
    background-image: url('../img/icon-pulldown-actions-active.png');
}
ul.pulldown-actions {
    display: none;
}
.open ul.pulldown-actions {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1000;
    margin: 3px 0 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    background: #eee;
    box-shadow: 0 0 50px #333; -moz-box-shadow: 0 0 50px #333; -webkit-box-shadow: 0 0 50px #333;
}
ul.pulldown-actions li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d4d4d4;
}
ul.pulldown-actions li:first-child {
    border-top: 0;
}
ul.pulldown-actions li:last-child {
    border-bottom: 0;
}
ul.pulldown-actions a {
    display: block;
    padding: 5px 30px 5px 10px;
    font-weight: bold;
    white-space: nowrap;
}