{% extends "filebrowser/index.html" %}

<!-- LOADING -->
{% load i18n adminmedia fb_tags fb_pagination %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {% ifequal query.pop '1' %} <!-- VersionFileBrowseField -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_VersionFileBrowseField.js"></script>
    {% endifequal %}
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                $("a.pulldown-versions-handler").bind("click", function() {
                    if (!$(this).parent().hasClass("open")) {
                        $("tr").removeClass("selected");
                        $(".pulldown-versions-container").removeClass("open");
                        $(this).parent().addClass("open");
                        $(this).parent().parent().parent().addClass("selected");
                    } else {
                        $(this).parent().removeClass("open");
                        $(this).parent().parent().parent().removeClass("selected");
                    }
                });
                $(document).keypress(function(evt) {
                    if (evt.keyCode == '27') {
                        $(".pulldown-versions-container:visible").removeClass("open");
                        $(".pulldown-versions-container").parent().parent().removeClass("selected");
                    }
                });
                $(document).mousedown(function(evt) {
                    if ($(".pulldown-versions-container").is(":visible")) {
                        var $target = $(evt.target);
                        if (!$(evt.target).hasClass("pulldown-versions-container") && $target.parents(".pulldown-versions-container").length == 0) {
                            $(".pulldown-versions-container").removeClass("open");
                            $(".pulldown-versions-container").parent().parent().removeClass("selected");
                        }
                    }
                });
            });
        })(django.jQuery);
    </script>
{% endblock %}
