{% load i18n %}
<div id="changelist-filter">
    <h2>{% trans "Filter" %}</h2>
    <h3>{% trans "By Date" %}</h3>
    <ul id="Date">
         {% if query.filter_date %}<li>{% else %}<li class="selected">{% endif %}<a href="?{{ query.query_nofilterdate }}">{% trans "Any Date" %}</a></li>
         {% ifequal query.filter_date 'today' %}<li class="selected">{% else %}<li>{% endifequal %}
         <a href="?{{ query.query_nofilterdate }}&amp;filter_date=today">{% trans "Today" %}</a></li>
         {% ifequal query.filter_date 'past7days' %}<li class="selected">{% else %}<li>{% endifequal %}
         <a href="?{{ query.query_nofilterdate }}&amp;filter_date=past7days">{% trans "Past 7 days" %}</a></li>
         {% ifequal query.filter_date 'thismonth' %}<li class="selected">{% else %}<li>{% endifequal %}
         <a href="?{{ query.query_nofilterdate }}&amp;filter_date=thismonth">{% trans "Past 30 days" %}</a></li>
         {% ifequal query.filter_date 'thisyear' %}<li class="selected">{% else %}<li>{% endifequal %}
         <a href="?{{ query.query_nofilterdate }}&amp;filter_date=thisyear">{% trans "This year" %}</a></li>
    </ul>
    <h3>{% trans "By Type" %}</h3>
    <ul id="Type">
        {% if query.filter_type %}<li>{% else %}<li class="selected">{% endif %}<a href="?{{ query.query_nofiltertype }}">{% trans "All" %}</a></li>
        {% for extension in settings_var.EXTENSIONS %}
        {% ifequal query.filter_type extension %}<li class="selected">{% else %}<li>{% endifequal %}<a href="?{{ query.query_nofiltertype }}&amp;filter_type={{ extension }}">{% blocktrans %}{{ extension }}{% endblocktrans %}</a></li>
        {% endfor %}
    </ul>
</div>