{% load i18n %}

<p class="paginator">
{% if results_var.results_total %}
    {% if not results_var.results_current %}
    <span class="error">{% trans "No Files Found" %}</span>&nbsp;
    {% endif %}<strong>{{ results_var.results_total }} Fil{{ results_var.results_total|pluralize:"e,es" }}</strong>&nbsp;
    {% for count in counter.items %}
        {{ count.0 }}:
        <strong>{{ count.1 }}</strong>&nbsp;
    {% endfor %}
{% else %}
    <strong>{% trans "No Files" %}</strong>
{% endif %}
</p>