{% extends "admin/base_site.html" %}
{% load i18n %}
{% load adminmedia %}

{% block extrahead %}
{% ifequal query.pop 'pop=1' %} <!-- FileBrowseField -->
<script language="javascript" type="text/javascript" src="{{ settings_var.PATH_FILEBROWSER_MEDIA }}js/FB_FileBrowseField.js"></script>
{% endifequal %}
{% ifequal query.pop 'pop=2' %} <!-- TinyMCE -->
<script language="javascript" type="text/javascript" src="{{ settings_var.PATH_TINYMCE }}tiny_mce_popup.js"></script>
<script language="javascript" type="text/javascript" src="{{ settings_var.PATH_FILEBROWSER_MEDIA }}js/FB_TinyMCE.js"></script>
{% endifequal %}
{% endblock %}
{% block coltype %}flex{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ settings_var.PATH_FILEBROWSER_MEDIA }}css/filebrowser.css" />
{% if query.pop %}
<style type="text/css">
#header { display: none; }
</style>
{% endif %}
{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs">{{ breadcrumbs }}</div>{% endblock %}

{% block content %}
<div id="content-main">
    <ul class="object-tools">
        <li><a href="mkdir/{{ query.query_str_total }}" class="addlink">{% trans "Make Directory" %}</a></li>
        <li><a href="upload/{{ query.query_str_total }}" class="addlink">{% trans "Multiple Upload" %}</a></li>
        <li><a href="makethumbs/{{ query.query_str_total }}" class="addlink">{% trans "Make Thumbs" %}</a></li>
    </ul>
    <div class="module filtered" id="changelist">
        {% include "filebrowser/include/toolbar.html" %}
        {% include "filebrowser/include/filter.html" %}
        <div id="toolbartable">
        <table cellspacing="0">
            {% if results_var.results_current %}
                {% include "filebrowser/include/tableheader.html" %}
            {% endif %}
            <tbody>
            {% for file in file_dict %}
                {% include "filebrowser/include/filelisting.html" %}
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% include "filebrowser/include/paginator.html" %}
    </div>
</div>
{% endblock %}
